---
import { cn } from "@/lib/utils"
import { Logo, LogoImage, LogoText } from "@/components/ui/logo"
import { Marquee, MarqueeContent } from "@/components/ui/marquee"
import { Section, SectionGrid, SectionProse } from "@/components/ui/section"

interface Props {
  class?: string
  id?: string
  logos?: {
    src?: string
    alt?: string
    text?: string
    href?: string
  }[]
}

const { class: className, id, logos } = Astro.props
---

<Section
  class={cn("bg-muted/40 gap-0", className)}
  id={id}
  style={{ "--container": "1280px" }}
>
  <SectionGrid class="sm:grid-cols-1 lg:grid-cols-[300px_1fr]">
    <SectionProse size="sm">
      <slot />
    </SectionProse>

    <Marquee class="mask-x-from-95%">
      <MarqueeContent>
        {
          logos?.map(({ src, alt, text, href }) => (
            <Logo href={href}>
              <LogoImage src={src} alt={alt} />
              <LogoText>{text}</LogoText>
            </Logo>
          ))
        }
      </MarqueeContent>
    </Marquee>
  </SectionGrid>
</Section>
